@model Courses
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Course</h1>

<h2>Are you sure you wanto to delete this?</h2>
<h3>@Model.Name</h3>
<h3>@Model.Degree</h3>
<h3>@Model.MinDegree</h3>

<form asp-controller="Courses" asp-action="ConfirmDelete">
    <input asp-for="Id" type="hidden" />
    <input type="submit" value="Delete" class="btn btn-danger" />
</form>
<a asp-controller="Courses" asp-action="ShowAll">Back To List</a>

