@model Departments
@{
    ViewData["Title"] = "Add";
}

<h1>Add</h1>

<form method="post" action="/Departments/SaveAdd">
    <div>
        <label>Name</label>
        <input type="text" name="Name" id="Name" value="@Model?.Name" class="form form-control"/>
    </div>
    <div>
        <label>Manager Name</label>
        <input type="text" name="MgrName" id="MgrName" value="@Model?.MgrName" class="form form-control" />
    </div>
    <input type="submit" value="Create" class="btn btn-primary mt-3 mb-3"  />
</form>
<a href="/Departments/ShowAll">Back To List</a>