@model Departments
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<form asp-action="SaveEdit" asp-controller="Departments">
    <div>
        <input asp-for="Id" type="hidden" />
    </div>
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="MgrName"></label>
        <input asp-for="MgrName" class="form form-control" />
        <span asp-validation-for="MgrName" class="text-danger"></span>
    </div>
    <input type="submit" value="Save" class="btn btn-primary mt-3 mb-3" />
</form>
<a asp-action="ShowAll" asp-controller="Departments">Back To List</a>