@model StudentWithDeptsViewModel
@{
    ViewData["Title"] = "Add";
}

<h1>Add Student</h1>

<form asp-controller="Students" asp-action="SaveAdd">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Age"></label>
        <input asp-for="Age" class="form form-control" />
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="DepartmentId"></label>
        <select asp-for="DepartmentId" asp-items="@(new SelectList(Model.Departments, "Id", "Name", Model.DepartmentId))" class="form-control form">
            <option value="0">-- Select a Department --</option>
        </select>
        <span asp-validation-for="DepartmentId" class="text-danger"></span>
    </div>
    <input type="submit" value="Create" class="btn btn-primary mt-3 mb-3"/>
</form>
<a asp-controller="Students" asp-action="ShowAll">Back To List</a>