@model StudentWithDeptsViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<form asp-action="SaveEdit" asp-controller="Students">
    <div>
        <input asp-for="Id" type="hidden" />
    </div>
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Age"></label>
        <input asp-for="Age" class="form form-control" />
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="DepartmentId"></label>
        <select asp-for="DepartmentId" asp-items="@(new SelectList(Model.Departments, "Id", "Name", Model.DepartmentId))" class="form-control form">
            <option value="0">-- Select a Department --</option>
        </select> 
        <span asp-validation-for="DepartmentId" class="text-danger"></span>
    </div>
    <input type="submit" value="Save" class="btn btn-success mt-3 mb-3" />
</form>

<a asp-controller="Students" asp-action="ShowAll">Back To List</a>